[includeIf "gitdir:~/dotfiles/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/Documents/repos/personal/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/Documents/projects/"]
	path = ~/.gitconfig-work
[color]
	ui = auto
[init]
	defaultBranch = main
[diff]
	tool = vimdiff
[core]
	editor = nvim
[pull]
	rebase = false
