.config/.mozilla/
.config/dconf/
.config/go/
.config/goa-1.0/
.config/ibus/
.config/epiphany/
.config/google-chrome/
.config/Logseq/
.config/mimeapps.list
.config/spotify/
.config/ookla/
.config/menus/
.config/pulse/
.config/GIMP/
.config/timewarrior/
.config/vlc/
.config/figma-agent/
.config/figma-linux/
.config/libreoffice/
.config/inkscape/
.config/rclone/
.wallpaper/options/claudia-andujar-hes-an-addict-3.jpg
user-dirs.locale
